:root {
  --Quick: "Quick";
  --Red: #ff4b4b;
  --Dark: #161616;
  --D: #292929;
  --Fira: "Fira";
}

@font-face {
  font-family: "Fira";
  src: url("./../public/fonts/Fira/FiraCode-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Quick";
  src: url("./../public/fonts/QuickSand/Quicksand-VariableFont_wght.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  outline: 0;
  text-decoration: none;
  font-family: "Quick";
}
